/*----------------------------------------------------------------------------
typography.css
Enthält alle übergreifenden typographischen Regeln.

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* General
-----------------------------------------------------------------------------*/

p {
	text-align: justify;
}

code {
	font-family: 'Verdana';
	font-weight: bold;
	display: block;
	margin-left: var(--space-inline-xl);
}

figcaption {
	font-size: var(--fs-s);
	font-family: serif;
}

.nav__font {
	font-family: 'Fredoka One', cursive;
	font-weight: bold;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Links
-----------------------------------------------------------------------------*/

a {
	color: rgb(235, 235, 235);
	text-decoration: none;
}

a:visited {
	/*color: var(--color-head);*/
}

a:hover {
  color: rgb(245, 13, 215);
  text-decotration: none;
}

/* Titles
-----------------------------------------------------------------------------*/

.title,
.subtitle {
    font-size: var(--fs-xl);
    font-family: var(--brand-font);
    margin: 0;
    line-height: 100%;
    margin-bottom: var(--space-stack-xl);
}

.title {
    color: var(--color-brand);
}

.subtitle {
    font-size: var(--fs-l);
}

.title+.subtitle {
    margin-top: calc(var(--space-stack-xs) - var(--space-stack-xl));
}

.topic {
	color: var(--color-brand);
	font-size: var(--fs-default);}

/* Footer
-----------------------------------------------------------------------------*/

footer p {
	text-align: center;
	color: var(--color-text-light);
}
