.right__image{
    height: auto;
    width: 50%;
    display: block;
    margin: 5% auto;
}

.left__image{
    height: auto;
    width: 50%;
    display: block;
    margin: 5% auto;
}

.information__text{
  color: black;
  text-align: left;
  vertical-align: middle;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.information__tabelle {
  width: 50%
}
