.right__image{
    height: 25%;
    width: auto;
    display: block;
    float: left;
}

.left__image{
    height: 25%;
    width: auto;
    display: block;
    float: right;

}

.information__text{
  color: black;
  text-align:center;
  vertical-align:middle;
  margin-left: 10%;
  margin-right: 10%;
}

.information__tabelle {
  width: 50%
}
