footer__stuff {

  margin: 5% 5% 5% 5%;

}

footer__text {

  color: black;
  font-size: 32;


}

.footer__image{
    height: auto;
    width: 50%;
    display: block;
    margin: 5% auto;
}
