/*-----------------------------------------------------------------------------
base.css
Enthält alle CSS Variabeln und grundlegende Regeln sowie zentrale helper.

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Variables
-----------------------------------------------------------------------------*/

:root {
    /*
    Grundfarben
    ----------------------------------------*/
    --blue: #007BE4;
    --indigo: #6610f2;
    --purple: #7071C5;
    --pink: #e83e8c;
    --red: #D0021B;
    --orange: #fd7e14;
    --yellow: #FFBD0A;
    --green: #25CB55;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #666666;
    --gray-dark: #333333;

    --primary: #007BE4;
    --secondary: #666666;
    --success: #25CB55;
    --info: #17a2b8;
    --warning: #FFBD0A;
    --danger: #D0021B;
    --light: #e6e6e6;
    --dark: #333333;

    /*
    Tesla Farben
    ----------------------------------------*/
    --tsl-blue: #007BE4;
    --tsl-purple: #7071C5;
    --tsl-red: #D0021B;
    --tsl-yellow: #FFBD0A;
    --tsl-green: #25CB55;
    --tsl-black: #000;
    --tsl-white: #fff;
    --tsl-dark: #333333;

    /*
    Fonts
    ----------------------------------------*/
    --brand-font: Montserrat;
    --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /*
    Screensizes
    ----------------------------------------*/
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    /*
    Abstände basierend auf folgendem Konzept:
    https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62

    Innenabstände umlaufend
    ----------------------------------------*/
    --space-inset-default: 1rem;
    --space-inset-xs: 0.33rem;
    --space-inset-s: 0.66rem;
    --space-inset-m: 1.2rem;
    --space-inset-l: 1.5rem;
    --space-inset-xl: 2rem;
    /*
    Vertikale Abstände von Stapeln
    ----------------------------------------*/
    --space-stack-default: 1rem;
    --space-stack-xs: 0.33rem;
    --space-stack-s: 0.66rem;
    --space-stack-m: 1.2rem;
    --space-stack-l: 1.5rem;
    --space-stack-xl: 2rem;
    --space-stack-xxl: 4rem;
    /*
    Horizontale Abstände von Reihen
    ----------------------------------------*/
    --space-inline-default: 1rem;
    --space-inline-xs: 0.33rem;
    --space-inline-s: 0.66rem;
    --space-inline-m: 1.2rem;
    --space-inline-l: 1.5rem;
    --space-inline-xl: 2rem;
    --space-inline-xxl: 4rem;
    /*
    Schriftgrößen
    ----------------------------------------*/
    --fs-default: 1rem;
    --fs-xs: 0.33rem;
    --fs-s: 0.66rem;
    --fs-m: 1.2rem;
    --fs-l: 1.6rem;
    --fs-xl: 2.2rem;
}


/* Basic Styles
-----------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark);
}



/* helper
-----------------------------------------------------------------------------*/

.hidden {
    display: none !important;
}

.important {
    color: var(--danger) !important;
}
