.menu__element__button {
  margin-left: 50px;
}

.menu__element__picture {
  align: center;
}

.image__right{
    width: 75%;
    display: block;
    margin: 5% auto;
    /*margin-left: auto;
    margin-right: auto;*/
}

.header__text{
  color: white;
  text-align:center;
  vertical-align:middle;
  margin-left: 10%;
  margin-right: 10%;
  /*text-shadow: 2px 2px var(--tsl-blue);*/
  font-size: var(--fs-m);
}

.header__title{
  text-shadow: 2px 2px var(--tsl-blue);
  font-size: var(--fs-xl);
}

.tabelle {
  width: 50%
}
