/*----------------------------------------------------------------------------
typography.css                                                                  
Enthält alle übergreifenden typographischen Regeln.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Titles 
-----------------------------------------------------------------------------*/

.title,
.subtitle,
.subsubtitle,
.subsubsubtitle{
    font-size: var(--fs-xl);
    font-family: var(--brand-font);
    margin: 0;
    line-height: 100%;
    margin-bottom: var(--space-stack-xl);
}

.title {
    /*color: var(--primary);*/
}

.subtitle {
    font-size: var(--fs-l);
    color: var(--secondary);
}
.subsubtitle{
    font-size: var(--fs-m);
}

.subsubsubtitle{
    font-size: var(--fs-m);
    color: var(--secondary);
    padding-left: 5px;
}