/*----------------------------------------------------------------------------
layout.css                                                                  
Enthält alle übergreifenden typographischen Regeln.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


div{
    padding-bottom: 10px;
    padding-left: 30px;
}

.title
    
    margin-left: 20px;
}